form#user {
	border:thick black solid;
	float: left;
	width: 40%;
	overflow:auto;
	background: #C6E2FF;
}
form#lorem{
	border:thick black solid;
	float: right;
	width: 40%;
	background-color: #FFE4E1;
	overflow: auto;	
}
body#tools{
	overflow: auto;
}

input{
	float:right;
}

form label{
	font-size: 2rem;
}

h2{
	text-align: center;
}
form{
	padding: 2em;
	margin: 1em;
}
.birdleaf{
	margin: 2em;
	-webkit-box-shadow: 4px -4px 121px 0px rgba(0,0,0,0.81);
-moz-box-shadow: 4px -4px 121px 0px rgba(0,0,0,0.81);
box-shadow: 4px -4px 121px 0px rgba(0,0,0,0.81);
}

.highlight{
	color:black;
	border:thin black solid;
	background-color: #EFD469;
	width:100%;
}